.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid #cecece;
}

.navbar .logo img {
  width: 130px;
  max-height: 40px;
  border-radius: 30px;
  cursor: pointer;
}

.navbar .navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  font-size: max(0.5vw, 20px);
  font-weight: 500;
}

.navbar .profile-signup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.navbar .profile-signup .cart {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.2s ease-in;
}
.navbar .profile-signup .cart:hover {
  border: 4px solid tomato;
}
.navbar .profile-signup button {
  outline: none;
  padding: 12px 36px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
  background: tomato;
  cursor: pointer;
  transition: 0.2s ease;
}
.navbar .profile-signup button:hover {
  background: #ff7a62;
  font-weight: 500;
}
.app {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
}
