.signup-container {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 90vh;
  width: 100%;
  left: 0;
  margin: auto;
  background: #ffffff;
  border-radius: 30px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.signup-container .close {
  position: absolute;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  background: tomato;
  padding: 10px 20px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}
.signup-container > h1 {
  color: #5a5a5a;
  font-size: max(2.5vw, 28px);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.signup-container > h1 span {
  color: tomato;
}
